<!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
<form action="#" method="post">
	<div class="input-group">
      <input type="text" class="form-control c-square c-theme-border" placeholder="Search blog...">
      <span class="input-group-btn">
        <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Go!</button>
      </span>
    </div>
</form>

<div class="c-content-ver-nav">
	<div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
		<h3 class="c-font-bold c-font-uppercase">Categories</h3>
		<div class="c-line-left c-theme-bg"></div>
	</div>
	<ul class="c-menu c-arrow-dot1 c-theme">
		<li><a href="#">Corporate</a></li>
		<li><a href="#">Commercial</a></li>
		<li><a href="#">IP & Technology</a></li>
		<li><a href="#">Labor & Employment</a></li>
		<li><a href="#">Litigation</a></li>
		<li><a href="#">Real Estate</a></li>
	</ul>
</div>

<div class="c-content-tab-1 c-theme c-margin-t-30">
	<div class="nav-justified">
		<ul class="nav nav-tabs nav-justified">
		    <li class="active"><a href="#blog_recent_posts" data-toggle="tab">Recent Posts</a></li>
		    <li><a href="#blog_popular_posts" data-toggle="tab">Popular Posts</a></li>
		</ul>
		<div class="tab-content">
	    	<div class="tab-pane active" id="blog_recent_posts">
	    		<ul class="c-content-recent-posts-1">
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/09.jpg" alt="" class="img-responsive">
	    				</div>
	    				<div class="c-post">
	    					<a href="/regulation-of-cryptocurrency-around-the-world/" class="c-title">
	    					Regulation of Cryptocurrency Around the World
	    					</a>
	    					<div class="c-date">27 Jan 2018</div>
	    				</div>
	    			</li>
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/08.jpg" alt="" class="img-responsive">
	    				</div>
	    				<div class="c-post">
	    					<a href="/digital-legal-deposit-comparative-summary" class="c-title">
	    					Digital Legal Deposit: Comparative Summary
	    					</a>
	    					<div class="c-date">27 Jan 2018</div>
	    				</div>
	    			</li>
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/07.jpg" alt="" class="img-responsive">
	    				</div>
	    				<div class="c-post">
	    					<a href="" class="c-title">
	    					UX Design Expo 2015...
	    					</a>
	    					<div class="c-date">27 Jan 2015</div>
	    				</div>
	    			</li>
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/32.jpg" alt="" class="img-responsive">
	    				</div>
	    				<div class="c-post">
	    					<a href="" class="c-title">
	    					UX Design Expo 2015...
	    					</a>
	    					<div class="c-date">27 Jan 2015</div>
	    				</div>
	    			</li>
	    		</ul>
	    	</div>
	    	<div class="tab-pane" id="blog_popular_posts">
	    		<ul class="c-content-recent-posts-1">
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/34.jpg" class="img-responsive" alt=""/>
	    				</div>
	    				<div class="c-post">
	    					<a href="" class="c-title">
	    					UX Design Expo 2015...
	    					</a>
	    					<div class="c-date">27 Jan 2015</div>
	    				</div>
	    			</li>
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/37.jpg" class="img-responsive" alt=""/>
	    				</div>
	    				<div class="c-post">
	    					<a href="" class="c-title">
	    					UX Design Expo 2015...
	    					</a>
	    					<div class="c-date">27 Jan 2015</div>
	    				</div>
	    			</li>
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/32.jpg" class="img-responsive" alt=""/>
	    				</div>
	    				<div class="c-post">
	    					<a href="" class="c-title">
	    					UX Design Expo 2015...
	    					</a>
	    					<div class="c-date">27 Jan 2015</div>
	    				</div>
	    			</li>
	    			<li>
	    				<div class="c-image">
	    					<img src="../../assets/base/img/content/stock/54.jpg" class="img-responsive" alt=""/>
	    				</div>
	    				<div class="c-post">
	    					<a href="" class="c-title">
	    					UX Design Expo 2015...
	    					</a>
	    					<div class="c-date">27 Jan 2015</div>
	    				</div>
	    			</li>
	    		</ul>
	    	</div>
	  	</div>
  	</div>
</div>

<div class="c-content-ver-nav">
	<div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
		<h3 class="c-font-bold c-font-uppercase">Resources</h3>
		<div class="c-line-left c-theme-bg"></div>
	</div>
	<ul class="c-menu c-arrow-dot c-theme">
		<li><a href="search?q=law">Law Library</a></li>
		<li><a href="https://ask.uplaw.us">Ask UpLaw</a></li>
		<li><a href="services">Virtual Legal Services</a></li>
		<li><a href="https://alfie.uplaw.us">A.L.F.I.E. AI Lawyer</a></li>

	</ul>
</div><!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->