	<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-10 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-10 c-bg-white">
	<div class="c-footer">
		<div class="c-layout-footer-10-content container">
			<div class="row">
				<div class="col-md-5">
					<div class="c-layout-footer-10-title-container">
						<h3 class="c-layout-footer-10-title">About UpLaw</h3>
						<div class="c-layout-footer-10-title-line"><span class="c-theme-bg"></span></div>
					</div>
					<p class="c-layout-footer-10-desc">
						UpLaw allows you to look up the law by providing a global law library, smart search engine, automated legal documents, and data analytics on over 10 million legal documents from 300+ countries.
					</p>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-3">
							<div class="c-layout-footer-10-title-container">
								<h3 class="c-layout-footer-10-title">Company</h3>
								<div class="c-layout-footer-10-title-line"><span class="c-theme-bg"> </span></div>
							</div>
							<ul class="c-layout-footer-10-list">
								<li class="c-layout-footer-10-list-item"><a href="about">About</a></li>
								<li class="c-layout-footer-10-list-item"><a href="search?q=law">Library</a></li>
								<li class="c-layout-footer-10-list-item"><a href="services">Services</a></li>
								<li class="c-layout-footer-10-list-item"><a href="blog">Blog</a></li>
								<li class="c-layout-footer-10-list-item"><a href="contact">Contact</a></li>

							</ul>
						</div>
						<div class="col-md-3">
							<div class="c-layout-footer-10-title-container">
								<h3 class="c-layout-footer-10-title">Services</h3>
								<div class="c-layout-footer-10-title-line"><span class="c-theme-bg"> </span></div>
							</div>
							<ul class="c-layout-footer-10-list">
								<li class="c-layout-footer-10-list-item"><a href="search?q=law">Library</a></li>
								<li class="c-layout-footer-10-list-item"><a href="services">Virtual Services</a></li>
								<li class="c-layout-footer-10-list-item"><a href="https://ask.uplaw.us">Ask UpLaw</a></li>
								<li class="c-layout-footer-10-list-item"><a href="https://alfie.uplaw.us">A.L.F.I.E. AI Lawyer</a></li>

							</ul>
						</div>
						<div class="col-md-3">
							<div class="c-layout-footer-10-title-container">
								<h3 class="c-layout-footer-10-title">Partners</h3>
								<div class="c-layout-footer-10-title-line"><span class="c-theme-bg"></span></div>
							</div>
							<ul class="c-layout-footer-10-list">
								<li class="c-layout-footer-10-list-item"><a href="https://mc3.me">MC3</a></li>
								<li class="c-layout-footer-10-list-item"><a href="https://csmckay.us">C.S. McKay</a></li>
								<li class="c-layout-footer-10-list-item"><a href="https://law-hub.io">law-hub</a></li>

							</ul>
						</div>
						<div class="col-md-3">
							<div class="c-layout-footer-10-title-container">
								<h3 class="c-layout-footer-10-title">Achievements</h3>
								<div class="c-layout-footer-10-title-line"><span class="c-theme-bg"></span></div>
							</div>
							<ul class="c-layout-footer-10-list">
								<li class="c-layout-footer-10-list-item"><a href="publications">Publications</a></li>
								<li class="c-layout-footer-10-list-item"><a href="technology">Technology</a></li>
								<li class="c-layout-footer-10-list-item"><a href="team">People</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c-layout-footer-10-subfooter-container c-bg-grey">
			<div class="c-layout-footer-10-subfooter container">
				<div class="c-layout-footer-10-subfooter-content">
					Copyright © 2017 UpLaw. All Rights Reserved. No claim to government works.
				</div>
				<div class="c-layout-footer-10-subfooter-social">
					<ul>
						<li><a href="#" class="socicon-btn socicon-twitter tooltips" data-original-title="Twitter"></a></li>
						<li><a href="#" class="socicon-btn socicon-facebook tooltips" data-original-title="Facebook"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer><!-- END: LAYOUT/FOOTERS/FOOTER-10 -->

	<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
	<i class="icon-arrow-up"></i>
</div><!-- END: LAYOUT/FOOTERS/GO2TOP -->

