<body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen"> 
		
	<!-- BEGIN: LAYOUT/HEADERS/HEADER-3 -->
<!-- BEGIN: HEADER -->
<header id="header-3" class="c-layout-header c-layout-header-7 c-layout-header-dark-mobile c-header-transparent-dark" data-minimize-offset="80">
	<div class="c-topbar c-topbar-dark">
        <div class="container">
            <!-- BEGIN: INLINE NAV -->
            <nav class="c-top-menu c-pull-left">
                <ul class="c-icons c-theme-ul">
                    <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                    <li class="hide"><span>Phone: +9293223669</span></li>
                </ul>
            </nav>
            <!-- END: INLINE NAV -->
            <!-- BEGIN: INLINE NAV -->
            <nav class="c-top-menu c-pull-right">
                <ul class="c-links c-theme-ul">
                    <li><a href="account">Account</a></li>
                    <li class="c-divider">|</li>
                    <li><a href="contact">Contact</a></li>
                </ul>
                <ul class="c-ext c-theme-ul">
                    <li class="c-lang dropdown c-last">
                        <a href="#">en</a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li class="active"><a href="#">English</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">Espaniol</a></li>
                            <li><a href="#">Portugise</a></li>
                        </ul>
                    </li>
                    <li class="c-search hide">
                        <!-- BEGIN: QUICK SEARCH -->
                        <form action="search">
                            <input type="text" name="q" placeholder="search..." value="" class="form-control" autocomplete="off">
                            <i class="fa fa-search"></i>
                        </form>
                        <!-- END: QUICK SEARCH -->
                    </li>
                </ul>
            </nav>
            <!-- END: INLINE NAV -->
        </div>
    </div>
	<div class="c-navbar">
		<div class="container">
			<!-- BEGIN: BRAND -->
			<div class="c-navbar-wrapper clearfix">
				<div class="c-brand c-pull-left">
					<a href="/" class="c-logo">
                        <h1 class="c-font-uppercase c-font-bold c-font-white">UP<span class="c-font-green">LAW</span></h1>
                    </a>
					<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
						<span class="c-line"></span>
						<span class="c-line"></span>
						<span class="c-line"></span>
					</button>
					<button class="c-search-toggler" type="button">
						<i class="fa fa-search"></i>
					</button>
				</div>
				<!-- END: BRAND -->				
				<!-- BEGIN: QUICK SEARCH -->
				<form class="c-quick-search" action="search">
					<input type="text" name="q" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
					<span class="c-theme-link">&times;</span>
				</form>
				<!-- END: QUICK SEARCH -->	
				<!-- BEGIN: HOR NAV -->
				<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
<!-- BEGIN: MEGA MENU -->
<!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
<nav class="c-mega-menu c-mega-menu-mobile c-fonts-uppercase c-fonts-sbold">
	<ul class="nav navbar-nav c-theme-nav"> 
						<li class="c-active c-menu-type-classic"><a href="/" class="c-link">Home</a></li>
						<li class="c-menu-type-classic">
						<a href="about" class="c-link dropdown-toggle c-toggler">About<span class="c-arrow c-toggler"></span></a>


													<ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                                        <li>
                                                            <a href="about">About</a>
                                                        </li>
										            <li>
                <a href="team">People</a>
            </li>
                                                        <li>
                <a href="services">Services</a>
            </li>

							            <li>
                <a href="contact">Contact</a>
            </li>
                                                        									</ul>

					</li>

        <li class="c-menu-type-classic"><a href="blog" class="c-link">Blog</a></li>
        <li class="c-menu-type-classic">
						<a href="search?q=*" class="c-link dropdown-toggle c-toggler">Library<span class="c-arrow c-toggler"></span></a>


													<ul class="dropdown-menu c-menu-type-classic c-pull-left">
										            <li>
                <a href="/search?q=law&jurisdiction=all">All Law</a>
            </li>
							            <li>
                <a href="/search?q=law&jurisdiction=federal">Federal Law</a>
            </li>
                                                        <li>
                <a href="/search?q=*&jurisdiction=states">State Law</a>
            </li>
                                                        <li>
                                                            <a href="https://ask.uplaw.us">Ask</a>
                                                        </li>
									</ul>

					</li>

        <li class="c-menu-type-classic">
						<a href="#" class="c-link dropdown-toggle c-toggler">Tools<span class="c-arrow c-toggler"></span></a>


													<ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                                        <li>
                                                            <a href="https://ask.uplaw.us">Ask</a>
                                                        </li>
                                                        <li>
                <a href="https://alfie.uplaw.us" target="_blank">A.L.F.I.E. AI Lawyer</a>
            </li>
										            <li>
                <a href="/summarize">Summarize</a>
            </li>
							            <li>
                <a href="/predict" target="_blank">Predict</a>
            </li>

									</ul>

					</li>
						<li class="c-menu-type-classic">
						<a href="services" class="c-link dropdown-toggle c-toggler">Services<span class="c-arrow c-toggler"></span></a>


													<ul class="dropdown-menu c-menu-type-classic c-pull-left">
										            <li>
                <a href="services">Commercial</a>
            </li>
							            <li>
                <a href="services">Intellectual Property</a>
            </li>
                                                        <li>
                <a href="services">Labor & Employment</a>
            </li>
                                                        <li>
                <a href="services">Litigation</a>
            </li>
							            <li>
                <a href="services">Property</a>
            </li>
                                                        <li>
                <a href="services">Technology</a>
            </li>
									</ul>

					</li>
		<!--
        <li >
						<a href="{{ url_for('main.clients') }}" class="c-link">Clients</a>
			
					</li>
					-->

		
	</ul>
	<ul class="nav navbar-nav c-theme-nav-right"> 
		
				<li class="c-search-toggler-wrapper">
			<a  href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
		</li>
		
		
		
				<li class="c-quick-sidebar-toggler-wrapper">	
			<a href="#" class="c-quick-sidebar-toggler">		     		
				<span class="c-line"></span>
				<span class="c-line"></span>
				<span class="c-line"></span>
			</a>
		</li>
		
		
			</ul>
</nav>
<!-- END: MEGA MENU --><!-- END: LAYOUT/HEADERS/MEGA-MENU -->
				<!-- END: HOR NAV -->		
			</div>			
		</div>
	</div>
</header>
<!-- END: HEADER --><!-- END: LAYOUT/HEADERS/HEADER-3 -->
	
	<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Password Recovery</h3>
                <p>To recover your password please fill in your email address</p>
                <form>
                    <div class="form-group">
                        <label for="forget-email" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Submit</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer c-no-border">                
                <span class="c-text-account">Don't Have An Account Yet ?</span>
                <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div><!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
	<!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
<div class="modal fade c-content-login-form" id="signup-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Create An Account</h3>
                <p>Please fill in below form to create an account with us</p>
                <form>
                    <div class="form-group">
                        <label for="signup-email" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="signup-username" class="hide">Username</label>
                        <input type="email" class="form-control input-lg c-square" id="signup-username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="signup-fullname" class="hide">Fullname</label>
                        <input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname">
                    </div>
                    <div class="form-group">
                        <label for="signup-country" class="hide">Country</label>
                        <select class="form-control input-lg c-square" id="signup-country">
                            <option value="1">Country</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- END: CONTENT/USER/SIGNUP-FORM -->
	<!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
<div class="modal fade c-content-login-form" id="login-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>
                <p>Let's make today a great day!</p>
                <form>
                    <div class="form-group">
                        <label for="login-email" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square" id="login-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="hide">Password</label>
                        <input type="password" class="form-control input-lg c-square" id="login-password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="c-checkbox">
                            <input type="checkbox" id="login-rememberme" class="c-check">
                            <label for="login-rememberme" class="c-font-thin c-font-17">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
                        <a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">Forgot Your Password ?</a>
                    </div>
                    <div class="clearfix">
                        <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                            <span>or signup with</span>
                        </div>
                        <ul class="c-content-list-adjusted">
                            <li>
                                <a class="btn btn-block c-btn-square btn-social btn-twitter">
                                  <i class="fa fa-twitter"></i>
                                  Twitter
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-block c-btn-square btn-social btn-facebook">
                                  <i class="fa fa-facebook"></i>
                                  Facebook
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-block c-btn-square btn-social btn-google">
                                  <i class="fa fa-google"></i>
                                  Google
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer c-no-border">                
                <span class="c-text-account">Don't Have An Account Yet ?</span>
                <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div><!-- END: CONTENT/USER/LOGIN-FORM -->

