{% extends 'theme_layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: CONTENT/BARS/BAR-7 -->
<div class="c-content-box c-size-lg c-theme-bg">
	<div class="container">
		<div class="c-content-title-1 c-opt-1 wow fadeInUp">
				<h3 class="c-center c-font-bold c-font-white"> Welcome to UpLaw</h3>
				<p class="c-font-center">Look Up the Law</p>
				<div class="c-line-center c-theme-bg"></div>
			</div>
			<div class="row">
			{% include 'search_bar.html' %}
			</div>
	</div>
</div><!-- END: CONTENT/BARS/BAR-7 -->

<div class="c-content-box c-size-sm c-bg-white">
	<div class="container">
		<div class="c-content-title-1 c-opt-1 wow fadeInUp">
				<h3 class="c-center c-font-bold c-font-white">{{ _('Sign In') }}</h3>
				<p class="c-font-center"></p>
				<div class="c-line-center c-theme-bg"></div>
			</div>
            <div class="row">
                <div class="col-md-6">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
			<div class="row">
                 <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
    <p>
        {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
    </p>

			</div>
	</div>
</div><!-- END: CONTENT/BARS/BAR-7 -->
{% endblock %}
