{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="c-layout-page">
		<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
<div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-theme-bg" style="background-image: url(../../assets/base/img/content/backgrounds/bg-28.jpg)">
		<div class="c-breadcrumbs-wrapper">
			<div class="container">
			<div class="c-page-title c-pull-left">

            </div>
            </div>

        </div>
</div>
    <div class="c-content-box c-size-md c-bg-img-top c-no-padding c-pos-relative">
	<div class="container">
           		<h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{ _('Register') }}</h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    </div>
    </div>


</div>

{% endblock %}
