{% extends "theme_layout.html" %}

{% block app_content %}
<!-- BEGIN: CONTENT/BARS/BAR-7 -->
<div class="c-content-box c-size-lg c-theme-bg">
	<div class="container">
		<div class="c-content-title-1 c-opt-1 wow fadeInUp">
			<p><br><br></p>
				<h3 class="c-center c-font-bold c-font-white"> {{ _('Not Found') }}</h3>
				<p class="c-font-center"><a href="{{ url_for('main.index') }}">{{ _('Back') }}</a></p>
				<div class="c-line-center c-theme-bg"></div>
			</div>

	</div>
</div><!-- END: CONTENT/BARS/BAR-7 -->

{% endblock %}

