<!-- BEGIN: CONTENT/EVENTS/EVENTS-1 -->
<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="c-content-title-1 c-opt-1 wow fadeInDown">
            <h3 class="c-center c-font-bold">Commercial</h3>
            <p class="c-font-center"></p>
            <div class="c-line-center c-theme-bg"></div>
        </div>
        <div class="c-content-events-1">
            <div class="row">
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Firing and Termination</div>
                            <h3 class="c-content-events-1-title">Termination Agreement</h3>
                            <p class="c-content-events-1-desc">This is a legal termination agreement for use when parties to a commercial contract have mutually agreed to terminate the agreement.</p>
                            <a href="https://uplaw.us/product/termination-agreement" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Contracts</div>
                            <h3 class="c-content-events-1-title">Letter From Buyer Demanding Adequate Assurances From Seller</h3>
                            <p class="c-content-events-1-desc">This Letter From Buyer Demanding Adequate Assurances From Seller is a letter from a buyer of goods demanding adequate assurances of performance from a seller in accordance with Section 2-609 of the Uniform Commercial Code.</p>

                            <a href="https://uplaw.us/product/letter-from-buyer-demanding-adequate-assurances-from-seller" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Contracts</div>
                            <h3 class="c-content-events-1-title">Warning Letter Tortious Interference</h3>


                            <p class="c-content-events-1-desc">This Warning Letter Tortious Interference is a letter warning the recipient that it knowingly induced a breach of contract in a manner that constitutes tortious interference with contract.</p>

                            <a href="https://uplaw.us/product/warning-letter-tortious-interference" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--BEGIN: PRODUCTS ROW TWO-->
        <div class="c-content-events-1">
            <div class="row">
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Discrimination, Harassment, and Retaliation</div>
                            <h3 class="c-content-events-1-title">Religious Accommodations Policy</h3>
                            <p class="c-content-events-1-desc">An employee policy on religious accommodations under Title VII of the Civil Rights Act of 1964.</p>
                            <a href="https://uplaw.us/product/religious-accommodations-policy" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Contracts and Agreements</div>
                            <h3 class="c-content-events-1-title">Commercial Referral Fee Agreement</h3>
                            <p class="c-content-events-1-desc">A legal document containing a referral or finder's agreement to be entered into by a seller of goods or service provider to pay a referral/finder's fee to anybody who makes an introduction or discovers an opportunity that results in a sale.</p>

                            <a href="https://uplaw.us/product/commercial-referral-fee-agreement" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Contracts and Agreements</div>
                            <h3 class="c-content-events-1-title">Training Agreement</h3>


                            <p class="c-content-events-1-desc">Prevent a toxic workplace by prohibiting meritless workers.</p>

                            <a href="https://uplaw.us/product/training-agreement" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END: CONTENT/EVENTS/EVENTS-1 -->
