<label class="control-label">State</label>
<select name="state" size="1" class="form-control c-square c-theme input-lg">
    <option selected value="">All 50 States</option>
    <option value="">-- UNITED STATES --</option>
    <option value="alabama">Alabama</option>
    <option value="alaska">Alaska</option>
    <option value="arizona">Arizona</option>
    <option value="arkansas">Arkansas</option>
    <option value="california">California</option>
    <option value="colorado">Colorado</option>
    <option value="connecticut">Connecticut</option>
    <option value="delaware">Delaware</option>
    <option value="florida">Florida</option>
    <option value="georgia">Georgia</option>
    <option value="hawaii">Hawaii</option>
    <option value="idaho">Idaho</option>
    <option value="illinois">Illinois</option>
    <option value="indiana">Indiana</option>
    <option value="iowa">Iowa</option>
    <option value="kansas">Kansas</option>
    <option value="kentucky">Kentucky</option>
    <option value="louisiana">Louisiana</option>
    <option value="maine">Maine</option>
    <option value="maryland">Maryland</option>
    <option value="massachusetts">Massachusetts</option>
    <option value="michigan">Michigan</option>
    <option value="minnesota">Minnesota</option>
    <option value="mississippi">Mississippi</option>
    <option value="missouri">Missouri</option>
    <option value="montana">Montana</option>
    <option value="nebraska">Nebraska</option>
    <option value="nevada">Nevada</option>
    <option value="new hampshire">New Hampshire</option>
    <option value="new jersey">New Jersey</option>
    <option value="new mexico">New Mexico</option>
    <option value="new york">New York</option>
    <option value="north carolina">North Carolina</option>
    <option value="north dakota">North Dakota</option>
    <option value="ohio">ohio</option>
    <option value="oklahoma">Oklahoma</option>
    <option value="oregon">Oregon</option>
    <option value="pennsylvania">Pennsylvania</option>
    <option value="rhode island">Rhode Island</option>
    <option value="south carolina">South Carolina</option>
    <option value="south dakota">South Dakota</option>
    <option value="tennessee">Tennessee</option>
    <option value="texas">Texas</option>
    <option value="utah">Utah</option>
    <option value="vermont">Vermont</option>
    <option value="virginia">Virginia</option>
    <option value="washington">Washington</option>
    <option value="west virginia">West Virginia</option>
    <option value="wisconsin">Wisconsin</option>
    <option value="wyoming">Wyoming</option>
    <option value="">-- CANADA --</option>
    <option value="alberta">Alberta</option>
    <option value="british columbia">British Columbia</option>
    <option value="">-- China --</option>
    <option value="alberta">Beijing</option>
    <option value="british columbia">Tin Jin</option>
    <option value="">-- UNITED KINGDOM --</option>
    <option value="alberta">England</option>
    <option value="british columbia">Scotland</option>

</select>

</select>