<form class="form-horizontal" method="POST" action="../confirmation">


<div class="row">
    <div class="form-group col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Employer Name</label>
                <input name="employer_name" type="text" class="form-control c-square c-theme input-lg" placeholder="UpLaw Inc.">
            </div>
            <div class="col-md-6">
                <label class="control-label">Employer Email</label>
                <input name="employer_email" type="text" class="form-control c-square c-theme input-lg" placeholder="contact@email.com">
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Employer Entity Type</label>
                <select name="employer_entity_type" class="form-control c-square c-theme input-lg">
                    <option value="partnership">Partnership</option>
                    <option value="llc">LLC</option>
                    <option value="pllc">PLLC</option>
                    <option value="corporation">Corporation</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label">State of Registration (or Business)</label>
                <select name="state_of_registration" class="form-control c-square c-theme input-lg">
                    <option value="al">Alabama</option>
                    <option value="ak">Alaska</option>
                    <option value="ar">Arkansas</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-12">
        <div class="row">


                <label  class="col-md-6 control-label">Prohibit supervision of one family member over another.</label>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input name="family_members_may_not_be_employed_within_the_same_department_without_certification_by_human_resources_that_the_employment_will_not_result_in_supervision_of_one_family_member_over_another" type="checkbox" value="yes" checked>
                            Yes, prohibit one family member from supervising another family member (recommended).
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="family_members_may_not_be_employed_within_the_same_department_without_certification_by_human_resources_that_the_employment_will_not_result_in_supervision_of_one_family_member_over_another" type="checkbox" value="no">
                            No, allow family supervision.
                        </label>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Employees covered under a collective bargaining agreement?</label>
                <select name="employees_covered_under_a_collective_bargaining_agreement" class="form-control c-square c-theme input-lg">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label">Which document controls</label>
                <select name="controlling_document" class="form-control c-square c-theme input-lg">
                    <option value="collective_bargaining_agreement">Collective bargaining agreement</option>
                    <option value="employer_policy">Employer Policy </option>

                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Department Responsible for Enforcing Policy</label>
                <input name="department_responsible_for_enforcing_policy" type="text" class="form-control c-square c-theme input-lg" placeholder="Human Resources">
            </div>
            <div class="col-md-6">
                <label class="control-label">Position Responsible for Enforcing Policy</label>
                <input name="position_responsible_for_enforcing_policy" type="text" class="form-control c-square c-theme input-lg" placeholder="Director of Human Resources">
            </div>

        </div>
    </div>
</div>

                            <div class="form-group c-margin-t-40">
                                <div class="col-sm-offset-4 col-md-8">
                                    <input type="hidden" name="form_id" value="<?php echo $_POST['form_id'];?>" />
                                    <input type="hidden" name="product_id" value="<?php echo $_POST['product_id'];?>" />
                                    <input type="hidden" name="product_slug" value="<?php echo $product_slug?>" />
                                    <input type="hidden" name="user_id" value="<?php echo $user_id?>" />
                                    <input type="hidden" name="submitted" value="true" />


                                    <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                                    <button type="submit" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">Back</button>
                                </div>
                            </div>
                        </form>