<div class="row">
    <div class="c-content-product-2 c-bg-white">

        <div class="col-md-8">
            <div class="c-info-list">
                <h3 class="c-title c-font-18 c-font-dark">
                    {% if document %}

                    {% set id = document.meta.id%}
                    <a href="{{ url_for('main.document',id=id) }}">{{document.body.title}}</a>
                </h3>
                {{document.body.jurisdiction|replace("_"," ")|title}}
                <br>
                {{document.body.resource_type|replace("_"," ")|title}}
                <br>
                {{document.body.date[0:10]}}
                <br>
                {{document.type|replace("_"," ")|title}}
                <br>

                {% if document.meta.highlight %}

                {% for sentence in document.meta.highlight['body.text'] %}
                {{sentence|safe}}
                {% endfor %}
                {% endif %}
                {% endif %}


            </div>


        </div>
    </div>
</div>
