<!-- BEGIN: CONTENT/EVENTS/EVENTS-1 -->
<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="c-content-title-1 c-opt-1 wow fadeInDown">
            <h3 class="c-center c-font-bold">Virtual Legal Services</h3>
            <p class="c-font-center">Represent your Rights.</p>
            <div class="c-line-center c-theme-bg"></div>
        </div>
        <div class="c-content-events-1">
            <div class="row">
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Policies & Procedures</div>
                            <h3 class="c-content-events-1-title">Workplace Searches Policy</h3>
                            <p class="c-content-events-1-desc">Inform employees about company rules regarding searches at the work place.</p>
                            <a href="/registration?slug=workplace-searches-policy" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Labor and Employment</div>
                            <h3 class="c-content-events-1-title">Background Check Policy</h3>
                            <p class="c-content-events-1-desc">Establish workplace background check rules and procedures.</p>

                            <a href="/registration?slug=background-check-policy" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Copyright</div>
                            <h3 class="c-content-events-1-title">DMCA Complaint</h3>


                            <p class="c-content-events-1-desc">A DMCA complaint informs an entity that they are hosting inrfringing material and may be liable for legal damages.</p>

                            <a href="/registration?slug=dmca-complaint-takedown-notice" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--BEGIN: PRODUCTS ROW TWO-->
        <div class="c-content-events-1">
            <div class="row">
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">IP & Technology</div>
                            <h3 class="c-content-events-1-title">Website Copyright DMCA Policy</h3>
                            <p class="c-content-events-1-desc">A DMCA compliant policy to establish a website's copyright DMCA policy.</p>
                            <a href="/registration?slug=website-copyright-dmca-policy" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">IP & Technology</div>
                            <h3 class="c-content-events-1-title">Copyright Infringement Cease and Desist Letter</h3>
                            <p class="c-content-events-1-desc">A letter from a copyright owner demanding the recipient cease and desist from copyrigh infringement or else face the long-arm of justice.</p>

                            <a href="/registration?slug=copyright-infringement-cease-and-desist-letter" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                        <div class="c-content-events-1-content-container">
                            <div class="c-content-events-1-cat">Labor & Employment</div>
                            <h3 class="c-content-events-1-title">Nepotism Policy</h3>


                            <p class="c-content-events-1-desc">Prevent a toxic workplace by prohibiting meritless workers.</p>

                            <a href="/registration?slug=nepotism-policy" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-circle c-font-uppercase">Purchase Now</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END: CONTENT/EVENTS/EVENTS-1 -->
