{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <div class="c-layout-breadcrumbs-1 c-theme-bg c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-bg-img-center"
         style="background-image: url(../../assets/base/img/content/backgrounds/bg-13.jpg)">
        <div class="c-breadcrumbs-wrapper">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">About
                        UpLaw</h3>
                    <h4 class="c-font-white c-font-thin c-opacity-08">There’s never been a more exciting time at UpLaw.
                        The way professionals work is changing. So are we.</h4>
                </div>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->

    <!-- BEGIN: CONTENT/MISC/ABOUT-3 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow animate fadeInLeft">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold">Who We Are</h3>
                        <div class="c-line-left c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <p>We are UpLaw. We provide resources and tools that allow you to represent your legal rights. It
                        should not cost thousands of dollars to create a legal document, form a business, or apply for
                        copyright registration. To solve the problem of high legal cost, we started a movement to make
                        legal help available to all.

                    </p>
                    <ul class="c-content-list-1 c-theme  c-font-uppercase">
                        <li>Advancing the Law</li>
                        <li>Innovating for Successes</li>
                        <li>Leading a Culture of Innovation</li>
                    </ul>
                    <p>We combine information and analytics to help customers make more informed decisions & achieve
                        better outcomes.</p>
                </div>
                <div class="col-sm-6 wow animate fadeInRight ">
                    <div class="c-content-tab-4 c-opt-3" role="tabpanel">
                        <ul class="nav nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab-31" role="tab" data-toggle="tab" class="c-font-16">ANALYTICS</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-32" role="tab" data-toggle="tab" class="c-font-16">TECHNOLOGY</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-33" role="tab" data-toggle="tab" class="c-font-16">VISION</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-31">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-5">
                                            <div class="c-photo">
                                                <img class="img-responsive" width="150" height="100"
                                                     src="../../assets/base/img/content/stock/6.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-xs-7">
                                            <h4 class="c-font-20">Data Science</h4>
                                            <p class="c-font-16">Our teams are combining unparalleled legal and business
                                                information with analytics and technology to advance what’s possible for
                                                the way our customers work and to advance what’s possible in the world
                                                by strengthening the rule of law.</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-5">
                                            <div class="c-photo">
                                                <img class="img-responsive" width="150" height="100"
                                                     src="../../assets/base/img/content/stock/5.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-xs-7">
                                            <h4 class="c-font-20"></h4>

                                            <p class="c-font-16"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-32">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-5">
                                            <div class="c-photo">
                                                <img class="img-responsive" width="150" height="100"
                                                     src="../../assets/base/img/content/stock/013.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-xs-7">
                                            <h4 class="c-font-20">Machine Learning</h4>
                                            <p class="c-font-16">We’re delivering powerful, new decision tools to
                                                customers by applying machine learning, natural language processing,
                                                visualization, and artificial intelligence to our global legal
                                                database.</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-5">
                                            <div class="c-photo">
                                                <img class="img-responsive" width="150" height="100"
                                                     src="../../assets/base/img/content/stock/18.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-xs-7">
                                            <h4 class="c-font-20">Artificial Intelligence</h4>

                                            <p class="c-font-16"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-33">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-5">
                                            <div class="c-photo">
                                                <img class="img-responsive" width="150" height="100"
                                                     src="../../assets/base/img/content/stock/76.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-xs-7">
                                            <h4 class="c-font-20">Wave of the Future</h4>
                                            <p class="c-font-16">Our vision is to help customers increase productivity,
                                                improve decision-making and outcomes, and generate value for their
                                                organization.</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-5">
                                            <div class="c-photo">
                                                <img class="img-responsive" width="150" height="100"
                                                     src="../../assets/base/img/content/stock/75.jpg" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-xs-7">
                                            <h4 class="c-font-20">Global</h4>

                                            <p class="c-font-16"> We feel privileged to work in a business that truly
                                                has a higher purpose, advancing the rule of law around the world, which
                                                is vital for building peace and prosperity in society.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/ABOUT-3 -->

    <!-- BEGIN: CONTENT/MISC/ABOUT-2 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow animate fadeInUp">
                    <p>UpLaw is analytical research—a new category of intelligent tool that combines legal research and
                        analytics. Powered by expert legal knowledge, machine learning, and comprehensive caselaw from,
                        UpLaw is built by digital natives for 21st Century practice.

                    </p>
                    <p>UpLaw enables everyone from the common man to lawyers to find what's important, understand why
                        it's important, and put that information to use in the most persuasive way possible. In short,
                        we turn legal information into legal insights.</p>
                    <p>UpLaw's intuitive array of data-driven tools are built from the ground up for the hardest
                        questions, transforming how lawyers understand the law and prepare for litigation.</p>
                    <p>UpLaw was founded in 2017 by a team of lawyers and software engineers. </p>
                    <p>UpLaw is based in Washington, D.C.</p>
                </div>
            </div>

            <div class="c-content-title-1 c-center c-margin-t-80">
                <h3 class="c-font-uppercase c-font-bold">Virtual Legal Services</h3>
                <div class="c-line-center"></div>
            </div>

            <div class="row">
                <div class="col-sm-4 wow animate fadeInUp">
                    <h4 class="c-font-20 c-font-uppercase"><a href="services">Commercial</a></h4>
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li><a href="services">Advertising and Marketing</a></li>
                        <li><a href="services">Contracts and Agreements</a></li>

                    </ul>
                </div>
                <div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.2s">
                    <h4 class="c-font-20 c-font-uppercase"><a href="services">IP and Technology</a></h4>
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li><a href="services">Copyright</a></li>
                        <li><a href="services">Patent</a></li>

                    </ul>
                </div>
                <div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.4s">
                    <h4 class="c-font-20 c-font-uppercase"><a href="services">Labor and Employment</a></h4>
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li><a href="services">Contracts</a></li>
                        <li><a href="services">Policies and Procedures</a></li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 wow animate fadeInUp">
                    <h4 class="c-font-20 c-font-uppercase"><a href="services">Litigation</a></h4>
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li><a href="services">Discovery</a></li>
                        <li><a href="services">Motions</a></li>

                    </ul>

                </div>
                <div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.2s">
                    <h4 class="c-font-20 c-font-uppercase"><a href="services">Property</a></h4>
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li><a href="services">Real Estate</a></li>
                        <li><a href="services">Wills and Estates</a></li>

                    </ul>
                </div>
                <div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.4s">
                    <h4 class="c-font-20 c-font-uppercase"><a href="services">Technology</a></h4>
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li><a href="services">Internet</a></li>
                        <li><a href="services">Privacy and Data Security</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div><!-- END: CONTENT/MISC/ABOUT-2 -->

    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->


<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

{% endblock %}