{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
		<!-- BEGIN: Spacer/Buffer for header/menu -->
    <div class="c-content-box c-size-md c-theme-bg">
        <div class="container">

        </div>
    </div>
    <!-- END: Spacer/Buffer for header/menu -->
		<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->

<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase c-font-sbold">Blog List View</h3>
		</div>
		<ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
															<li><a href="#">Pages</a></li>
			<li>/</li>
															<li><a href="page-blog-list.html">Blog List View</a></li>
			<li>/</li>
															<li class="c-state_active">Jango Components</li>

		</ul>
	</div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
		<!-- BEGIN: PAGE CONTENT -->
		<!-- BEGIN: BLOG LISTING -->
<div class="c-content-box c-size-md">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="c-content-blog-post-1-list">
					{% for post in response%}

					<div class="c-content-blog-post-1">
					<div class="c-title c-font-bold c-font-uppercase">
							<a href = "https://uplaw.us/{{post.slug}}">{{post.title['rendered']}}</a>
						</div>
						<div class="c-desc">
							{{post.excerpt['rendered'] | safe}}
							<a href = "https://uplaw.us/{{post.slug}}">read more...</a>
						</div>

						<div class="c-panel">
							<div class="c-author"><a href="#">By <span class="c-font-uppercase">{{post.author}}</span></a></div>
							<div class="c-date">on <span class="c-font-uppercase">{{post.date}}</span></div>
							<ul class="c-tags c-theme-ul-bg">
								{% for tag in post.tags%}
									<li>{{tag}}</li>
								{% endfor %}
								{% for category in post.categories%}
									<li>{{category}}</li>
								{% endfor %}
								{% for key in post.tags%}
									<li>{{key}}</li>
								{% endfor %}
							</ul>
							<div class="c-comments"><a href="https://uplaw.us/{{post.slug}}"><i class="icon-speech"></i>comments</a></div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-3">
			<!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
				{% include 'include/blog-sidebar-1.html' %}
			<!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1-->
			</div>
		</div>
	</div>
</div>
<!-- END: BLOG LISTING  -->

		<!-- END: PAGE CONTENT -->
	</div>
	<!-- END: PAGE CONTAINER -->

{% endblock %}