{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-bg-img-center"
         style="background-image: url(../../assets/base/img/content/backgrounds/bg-13.jpg)">
        <div class="c-breadcrumbs-wrapper">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">Our
                        Clients</h3>
                    <h4 class="c-font-white c-font-thin c-opacity-08">Page Sub Title Goes Here</h4>
                </div>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/TABS/TAB-4 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInDown">
                <h3 class="c-font-34 c-font-center c-font-bold c-margin-b-30">
                    Our Awesome Customers
                </h3>
                <p class="c-font-center">We first goal is to make our customers happy. Yes, this is the way we work</p>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="c-content-tab-6" role="tabpanel">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav" role="tablist">
                            <li role="presentation" class="active wow fadeInLeft" data-wow-delay="0s">
                                <a href="#tab-1" role="tab" data-toggle="tab">Amazing Features</a>
                            </li>
                            <li role="presentation" class="wow fadeInLeft" data-wow-delay="0.2s">
                                <a href="#tab-2" role="tab" data-toggle="tab">Exceptional Apps</a>
                            </li>
                            <li role="presentation" class="wow fadeInLeft" data-wow-delay="0.4s">
                                <a href="#tab-3" role="tab" data-toggle="tab">Reponsive Design</a>
                            </li>
                            <li role="presentation" class="wow fadeInLeft" data-wow-delay="0.6s">
                                <a href="#tab-4" role="tab" data-toggle="tab">Great Support</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content c-bg-white wow fadeInRight">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <img class="img-responsive" width="350" height="230"
                                                 src="../../assets/base/img/content/stock/14.jpg" alt=""/>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <h4>Amazing Features</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer
                                                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                dolore
                                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                                exerci tation ullamcorper suscipit lobortis nisl.</p>
                                            <a href="#">Learn More</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-2">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <img class="img-responsive" width="350" height="230"
                                                 src="../../assets/base/img/content/stock/44.jpg" alt=""/>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <h4>Exceptional Apps</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer
                                                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                dolore
                                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                                exerci tation ullamcorper suscipit lobortis nisl.</p>
                                            <a href="#">Learn More</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-3">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <img class="img-responsive" width="350" height="230"
                                                 src="../../assets/base/img/content/stock/42.jpg" alt=""/>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <h4>Responsive Design</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer
                                                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                dolore
                                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                                exerci tation ullamcorper suscipit lobortis nisl.</p>
                                            <a href="#">Learn More</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-4">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <img class="img-responsive" width="350" height="230"
                                                 src="../../assets/base/img/content/stock/38.jpg" alt=""/>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <h4>Great Support</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer
                                                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                dolore
                                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                                exerci tation ullamcorper suscipit lobortis nisl.</p>
                                            <a href="#">Learn More</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END: CONTENT/TABS/TAB-4 -->

    <!-- BEGIN: CONTENT/SLIDERS/CLIENT-LOGOS-3 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-client-logos-slider-3 wow fadeIn" data-slider="owl">

                <!-- Begin: Owlcarousel -->

                <div class="owl-carousel owl-theme c-theme owl-bordered1 c-owl-nav-center" data-items="6"
                     data-desktop-items="5" data-desktop-small-items="4" data-tablet-items="4" data-mobile-items="2"
                     data-slide-speed="5000" data-rtl="false">
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client1.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client2.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client3.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client4.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client5.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client6.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client5.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client6.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client5.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client6.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client5.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../../assets/base/img/content/client-logos/client6.jpg" alt=""/></a>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div><!-- END: CONTENT/SLIDERS/CLIENT-LOGOS-3 -->

    <!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-12 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <!-- Begin: testimonials 1 component -->
            <div class="c-content-testimonials-12" data-slider="owl">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1 c-opt-1">
                    <h3 class="c-center c-font-bold">Customers that Love JANGO</h3>
                    <p class="c-font-center">Top notch customer service is always a priority.</p>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-single-item="true"
                     data-navigation-dots="false" data-navigation-label="true" data-auto-play-hover-pause="true"
                     data-slide-speed="5000" data-rtl="false">
                    <div class="item">
                        <div class="c-testimonial">
                            <div class="c-testimonial-container c-bg-white">
                                <img class="c-testimonial-12-quote-icon"
                                     src="../../assets/base/img/content/misc/quote-marks.png"/>
                                <p class="c-testimonial-12-desc">TOP Quality Theme. Very well written and great customer
                                    support from Themehats, I'm really glad for the theme. </p>
                                <h3 class="c-testimonial-12-author">Soundream, JANGO Customer</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <div class="c-testimonial-container c-bg-white">
                                <img class="c-testimonial-12-quote-icon"
                                     src="../../assets/base/img/content/misc/quote-marks.png"/>
                                <p class="c-testimonial-12-desc">JANGO is the best support I've experienced, and truly
                                    is flexible. This is quickly becoming my go to theme for custom projects.</p>
                                <h3 class="c-testimonial-12-author">Smauel76, JANGO Customer</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <div class="c-testimonial-container c-bg-white">
                                <img class="c-testimonial-12-quote-icon"
                                     src="../../assets/base/img/content/misc/quote-marks.png"/>
                                <p class="c-testimonial-12-desc">Simply the best theme I've purchase in years. Thanks
                                    for including so much options and elements. Great job.</p>
                                <h3 class="c-testimonial-12-author">Xerracol, JANGO Customer</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <div class="c-testimonial-container c-bg-white">
                                <img class="c-testimonial-12-quote-icon"
                                     src="../../assets/base/img/content/misc/quote-marks.png"/>
                                <p class="c-testimonial-12-desc">As a full stack developer myself, it is extremely rare
                                    that I rate anything 5 stars.</p>
                                <h3 class="c-testimonial-12-author">Degrama, JANGO Customer</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div><!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-12 -->

    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
{% endblock %}