{{user_form_data_entry}}
<br><br>
{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->

<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!--
<div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-bg-img-center" style="background-image: url(../../assets/base/img/content/backgrounds/bg-52.jpg)">
		<div class="c-breadcrumbs-wrapper">
			<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">About Us</h3>
				<h4 class="c-font-white c-font-thin c-opacity-08">Page Sub Title Goes Here</h4>
			</div>
		</div>
		</div>
	</div>
	-->
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-sm c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                <p><br><br></p>
                <h3 class="c-center c-font-bold c-font-white"></h3>
                <p class="c-font-center"></p>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">

            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="{{url_for('main.consultation')}}">Consultation</a></li>
                <li>/</li>
                <li class="{{url_for('main.confirmation')}}">Confirmation</li>

            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <!-- BEGIN: CONTENT/CONTACT/FEEDBACK-1-1 -->
    <div class="c-content-box c-size-md c-bg-grey">
        <div class="container">
            <div class="c-content-feedback-1 c-option-1">
                <div class="row">
                    <div class="col-md-10">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">Congratulations! You are finished.</h3>
                            <div class="c-line-left c-theme-bg"></div>

                            <p class="c-font-lowercase"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-contact">
                            <div class="c-content-title-1">

                                <p class="c-font-lowercase">Preview your document and confirm the accuracy of your
                                    information is correct by previewing your document below. You may place your order
                                    below by clicking the "Order Now" button.</p>
                            </div>
                            <a href="https://uplaw.us/checkout?add-to-cart={{product_id}}"
                               class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">Order Now</a>


                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="c-contact">
                            <div class="c-content-title-1 c-inverse">
                                <strong class="c-font-uppercase c-font-bold">{{product['title']}}</strong>
                                <div class="c-line-left"></div>
                            </div>



                            <object height="900" width="700" data="{{product_pdf_path}}" type="application/pdf">
                                <embed src="{{product_pdf_path}}#zoom=100" type="application/pdf"/>

                            </object>


                        </div>
                    </div>
                     <p><strong>Notice:</strong> UpLaw is not a law firm. UpLaw is a law library and automated legal services
                    platform. All UpLaw products should be discussed with your personal attorney.</p>

                </div>


            </div>
        </div>
    </div>
    <!-- END: CONTENT/CONTACT/FEEDBACK-1-1 -->
    <!--<embed id = 'pdf' src="{{product_pdf_path}}" width="800" height="700"></embed>-->

    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

{% endblock%}


