{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: Spacer/Buffer for header/menu -->
    <div class="c-content-box c-size-lg c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">


                <div class="c-line-center c-theme-bg"></div>
            </div>

        </div>
    </div>
    <!-- END: Spacer/Buffer for header/menu -->
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-bg-img-center"
         style="background-image: url(../../assets/base/img/content/backgrounds/bg-28.jpg)">
        <div class="c-breadcrumbs-wrapper">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">Contact
                        Us</h3>
                    <h4 class="c-font-white c-font-thin c-opacity-08">We love connecting with people like you!</h4>
                </div>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/CONTACT/CONTACT-1 -->
    <div class="c-content-box c-size-md c-bg-img-top c-no-padding c-pos-relative">
        <div class="container">
            <div class="c-content-contact-1 c-opt-1">
                <div class="row" data-auto-height=".c-height">
                    <div class="col-sm-8 c-desktop"></div>
                    <div class="col-sm-4">
                        <div class="c-body">
                            <div class="c-section">
                                <h3>UpLaw Inc.</h3>
                            </div>
                            <div class="c-section">
                                <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Address</div>
                                <p>25, 1800 14th Street<br/>Washington D.C.<br/>United States of America</p>
                            </div>
                            <div class="c-section">
                                <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Contacts</div>
                                <p><strong>Phone: </strong> 929.322.3669<br/><strong>Email: </strong> support@uplaw.us
                                </p>
                            </div>
                            <div class="c-section">
                                <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Social</div>
                                <br/>
                                <ul class="c-content-iconlist-1 c-theme">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gmapbg" class="c-content-contact-1-gmap" style="height: 615px;"></div>
    </div> <!-- END: CONTENT/CONTACT/CONTACT-1 -->

    <!-- BEGIN: CONTENT/CONTACT/FEEDBACK-1-1 -->
    <div class="c-content-box c-size-md c-bg-grey">
        <div class="container">
            <div class="c-content-feedback-1 c-option-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-container c-theme-bg c-bg-img-bottom-right"
                             style="background-image:url(../../assets/base/img/content/misc/feedback_box_1.png)">
                            <div class="c-content-title-1 c-inverse">
                                <h3 class="c-font-uppercase c-font-bold">Need to know more?</h3>
                                <div class="c-line-left"></div>
                                <p class="c-font-lowercase">Try visiting our FAQ page to learn more about UpLaw.</p>
                                <a href="#"
                                   class="btn btn-md c-btn-border-2x c-btn-white c-btn-uppercase c-btn-square c-btn-bold">Learn
                                    More</a>
                            </div>
                        </div>
                        <div class="c-container c-bg-grey-1 c-bg-img-bottom-right"
                             style="background-image:url(../../assets/base/img/content/misc/feedback_box_2.png)">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Have a question?</h3>
                                <div class="c-line-left c-theme-bg"></div>
                                <form action="#">
                                    <div class="input-group input-group-lg c-square">
                                        <input type="text" class="form-control c-square" placeholder="Ask a question"/>
                                        <span class="input-group-btn">
							        	<button class="btn c-theme-btn c-btn-square c-btn-uppercase c-font-bold"
                                                type="button">Go!</button>
							      	</span>
                                    </div>
                                </form>
                                <p>Ask your questions away and let our dedicated customer service help you look through
                                    our FAQs to get your questions answered!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-contact">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Keep in touch</h3>
                                <div class="c-line-left c-theme-bg"></div>
                                <p class="c-font-lowercase">Our helpline is always open to receive any inquiry or
                                    feedback.
                                    Please feel free to drop us an email from the form below and we will get back to you
                                    as soon as we can.</p>
                            </div>
                            <form action="mailto:support@uplaw.us">
                                <div class="form-group">
                                    <input type="text" placeholder="Your Name"
                                           class="form-control c-square c-theme input-lg c-form-borderless">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Your Email"
                                           class="form-control c-square c-theme input-lg c-form-borderless">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Contact Phone"
                                           class="form-control c-square c-theme input-lg c-form-borderless">
                                </div>
                                <div class="form-group">
                                    <textarea rows="8" name="message" placeholder="Write comment here ..."
                                              class="form-control c-theme c-square input-lg c-form-borderless"></textarea>
                                </div>
                                <button type="submit"
                                        class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/CONTACT/FEEDBACK-1-1 -->

    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
{% endblock %}