{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->

<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!--
<div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-bg-img-center" style="background-image: url(../../assets/base/img/content/backgrounds/bg-52.jpg)">
		<div class="c-breadcrumbs-wrapper">
			<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">About Us</h3>
				<h4 class="c-font-white c-font-thin c-opacity-08">Page Sub Title Goes Here</h4>
			</div>
		</div>
		</div>
	</div>
	-->
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-sm c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                <p><br><br></p>
                <h3 class="c-center c-font-bold c-font-white"></h3>
                <p class="c-font-center"></p>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">

            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="/search">Search</a></li>
                <li>/</li>
                <li class="c-state_active">Document</li>

            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <!-- BEGIN: CONTENT/MISC/SERVICES-6 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            {% if document is not defined%}
                {% include '_restricted.html' %}
            {% endif %}
            {% if document is defined%}

            <div class="c-content-services-6">
                <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                    <h1 class=" c-font-bold">{{document._source.body.title|safe}}</h1>
                    <div class="c-line-center c-theme-bg"></div>
                </div>

                <div class="row">
                    <h4 class=" c-font-bold">Document NLP Stats</h4>
                    <p class="c-font">
                        {% for statistic in statistics%}
                        {{statistic}}<br>
                        {% endfor %}
                    </p>
                </div>
                <div class="row">
                    <h4 class=" c-font-bold">A.L.F.I.E. AI Summary</h4>
                    <p class="c-font">{{summary | safe}}</p>
                </div>
                <div class="row">
                    <h4 class=" c-font-bold"></h4>
                    <p class="c-font">{{document._source.body.html|safe}}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- END: CONTENT/MISC/SERVICES-6 -->
    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
{% endblock%}