{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}UpLaw{% endblock %}

{% block app_content %}

<!-- BEGIN: PAGE CONTAINER -->
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">

    <!-- BEGIN: Spacer/Buffer for header/menu -->
    <div class="c-content-box c-size-lg c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">


                <div class="c-line-center c-theme-bg"></div>
            </div>

        </div>
    </div>
    <!-- END: Spacer/Buffer for header/menu -->

    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->

    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{{product['title']}}</h3>


            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="/">Home</a></li>
                <li>/</li>
                <li><a href="{{url_for('main.account')}}">Account</a></li>
                <li>/</li>
                <li><a href="download?slug={{slug}}">Download</a></li>
                <li>/</li>
                <li class="c-state_active">{{product['title']}}</li>

            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-page ">


            <!-- BEGIN: PAGE CONTENT -->
            <div class="c-shop-product-compare">
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold">{{product['title']}}</h3>
                </div>



                {% if product['category'] %}
                {{product['category'] |safe }}
                {% endif %}

                <br>
                {% if product['tags'] %}
                {{product['tags'] |safe }},
                {% endif %}

                {% if download_na_message %}
                <p>
                    <br>
                    <br>
                <h2>Download Not Yet Available.</h2>
                <strong>{{download_na_message}}</strong>
                </p>
                {% endif %}

                {% if not download_na_message %}
                <br><br>
                 <a class="btn btn-default c-btn c-btn-square c-theme-btn c-btn-md c-margin-b-10"
                       href="consultation?slug={{slug}}&update=true">Update</a>
                <br><br>

                <p>Download your {{product['title']}} in the appropriate format by clicking a link below.</p>

                <a href="{{ product_pdf_path }}">.pdf</a> |
                    <a href="{{ product_docx_path }}">.docx</a>
                <p align="center">


                    <br>
                    <object height="800" width="700" data="{{product_pdf_path}}" type="application/pdf">
                        <embed src="{{product_pdf_path}}" type="application/pdf"/>

                    </object>

                </p>
                {% endif %}

            </div>

            <p><br><br><br><strong>Notice:</strong> UpLaw is not a law firm. UpLaw is a law library and automated legal
                services platform. All UpLaw products should be discussed with your personal attorney.</p>

        </div>            <!-- END: PAGE CONTENT -->
    </div>

</div>
</div>
<!-- END: PAGE CONTAINER -->


{% endblock%}





