{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if not g.search_form%}
{% set q = '*' %}
{% else %}
{% set q = g.search_form.q.data %}
{% endif %}
{% if not q%}
{% set q = '*' %}
{% endif %}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-lg c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                <p><br><br></p>
                <h3 class="c-center c-font-bold c-font-white"> Welcome to UpLaw</h3>
                <p class="c-font-center">Look Up the Law<br><br>
                    {% include 'search_bar.html' %}
                </p>
                <div class="c-line-center c-theme-bg"></div>
            </div>

        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->

    <!-- BEGIN: CONTENT/MISC/SERVICES-6 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-services-6">
                <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                    <h3 class="c-center c-font-bold"> Represent Your Legal Rights!</h3>
                    <p class="c-font-center">Leading a Culture of Innovation.</p>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0s">
                            <div class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-13"></div>
                            <h3 class="c-content-services-6-item-title"><a href="search?q=law">Law Library</a></h3>
                            <p class="c-content-services-6-item-desc">10+ Million Documents</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-12"></div>
                            <h3 class="c-content-services-6-item-title"><a href="https://ask.uplaw.us">Ask UpLaw</a></h3>
                            <p class="c-content-services-6-item-desc">Expert Answers</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-29"></div>
                            <h3 class="c-content-services-6-item-title"><a href="https://alfie.uplaw.us">A.L.F.I.E.</a></h3>
                            <p class="c-content-services-6-item-desc">AI & Machine Learning</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-18"></div>
                            <h3 class="c-content-services-6-item-title"><a href="search?q=law">Search</a></h3>
                            <p class="c-content-services-6-item-desc">Precise, Accurate Results</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.8s">
                            <div class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-24"></div>
                            <h3 class="c-content-services-6-item-title"><a href="services">Virtual Services</a></h3>
                            <p class="c-content-services-6-item-desc">Automated Legal Services</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="1s">
                            <div class="c-content-services-6-item-icon c-content-business-line-icon c-theme c-business-icon-27"></div>

                            <h3 class="c-content-services-6-item-title"><a href="#">Technology</a></h3>


                            <p class="c-content-services-6-item-desc">Wave of the Future</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END: CONTENT/MISC/SERVICES-6 -->

    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-lg c-theme-bg">
        <div class="container">
            <div class="c-content-bar-7">
                <p class="c-content-bar-desc c-font-white">
                    Ask legal questions. Get expert legal answers.
                </p>
                <a href="https://ask.uplaw.us" class="c-content-bar-btn c-btn-white btn c-btn c-btn-circle c-btn-border-1x">Ask
                    UpLaw today!</a>
            </div>
        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->

    <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-5 -->
    <div id="feature-15-5" class="c-content-feature-15 c-content-feature-15-5 c-bg-img-center"
         style="background-image: url(../../assets/base/img/content/backgrounds/bg-70.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-8 col-xs-12">
                    <div class="c-feature-15-container c-bg-white wow fadeIn">
                        <h2 class="c-feature-15-title wow fadeInRight" data-wow-delay="0.5s">Wave of the Future</h2>
                        <p class="c-feature-15-desc wow fadeInRight" data-wow-delay="0.7s">
                            UpLaw is here to allow the common man to represent his rights. Uplaw combines state of the
                            art technolgy with its global law library and knowledge base to create clever legal
                            solutions for clients across a wide range of industies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-5 -->

    <!-- BEGIN: CONTENT/MISC/QUOTE-1 -->
    <!--
<div class="c-content-box c-size-lg c-bg-white">
<div class="container">
    <div class="c-content-quote-1">
        <h3 class="c-quote-title">Request A Quote</h3>
        <div class="c-quote-desc-container">
            <a href="javascript:;" class="c-quote-btn btn c-btn c-btn-circle c-theme-btn">Contact Us</a>
            <p class="c-quote-desc">Please contact us anytime for custom pricing models.</p>
        </div>
    </div>
</div>
-->
</div><!-- END: CONTENT/MISC/QUOTE-1 -->

<!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-13 -->
<!--
		<div class="c-content-box c-size-md c-bg-grey-1">
	<div class="container">
		<div class="c-content-title-1 c-opt-1 wow fadeInUp">
			<h3 class="c-center c-font-bold">Don't take our word for it</h3>
			<p class="c-font-center">Check out what our satisfied customers have to say</p>
			<div class="c-line-center c-theme-bg"></div>
		</div>
		<div class="c-content-testimonials-13" data-slider="owl">
			<div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-single-item="true" data-navigation-dots="false" data-navigation-label="true" data-auto-play-hover-pause="true" data-slide-speed="5000" data-rtl="false">
				<div class="item">
					<div class="c-testimonial">
						<div class="c-testimonial-container c-bg-white">
							<h3 class="c-testimonial-13-title">Top Quality Theme</h3>
							<p class="c-testimonial-13-desc">Very well written and great customer support from Themehats, I'm really glad for the theme. </p>
							<div class="c-testimonial-13-author-container">
								<img class="c-testimonial-13-author-img" src="{{ url_for('static', filename='assets/base/img/content/avatars/team1.jpg') }}"/>
								<h3 class="c-testimonial-13-author"><span class="c-testimonial-13-author-name c-theme-font">Soundream</span>, UPLAW Customer</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="c-testimonial">
						<div class="c-testimonial-container c-bg-white">
							<h3 class="c-testimonial-13-title">The Best Support</h3>
							<p class="c-testimonial-13-desc">UPLAW is the best support I've experienced, and truly is flexible. This is quickly becoming my go to theme for custom projects.</p>
							<div class="c-testimonial-13-author-container">
								<img class="c-testimonial-13-author-img" src="{{ url_for('static', filename='assets/base/img/content/avatars/team12.jpg') }}"/>
								<h3 class="c-testimonial-13-author"><span class="c-testimonial-13-author-name c-theme-font">Smauel76</span>, UPLAW Customer</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="c-testimonial">
						<div class="c-testimonial-container c-bg-white">
							<h3 class="c-testimonial-13-title">Simply the Best Theme</h3>
							<p class="c-testimonial-13-desc">Simply the best theme I've purchase in years. Thanks for including so much options and elements. Great job.</p>
							<div class="c-testimonial-13-author-container">
								<img class="c-testimonial-13-author-img" src="{{ url_for('static', filename='assets/base/img/content/avatars/team13.jpg') }}"/>
								<h3 class="c-testimonial-13-author"><span class="c-testimonial-13-author-name c-theme-font">Xerracol</span>, UPLAW Customer</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="c-testimonial">
						<div class="c-testimonial-container c-bg-white">
							<h3 class="c-testimonial-13-title">5 Star Quality</h3>
							<p class="c-testimonial-13-desc">As a full stack developer myself, it is extremely rare that I rate anything 5 stars.</p>
							<div class="c-testimonial-13-author-container">
								<img class="c-testimonial-13-author-img" src="{{ url_for('static', filename='assets/base/img/content/avatars/team16.jpg') }}"/>
								<h3 class="c-testimonial-13-author"><span class="c-testimonial-13-author-name c-theme-font">Degrama</span>, UPLAW Customer</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
-->
<!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-13 -->

{% include 'services/_featured.html' %}
{% include 'services/_commercial.html' %}
{% include 'services/_intellectual-property-and-technology.html' %}


<!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-4 -->
<!-- Begin UPLAW MailChimp Signup Form -->
<div class="c-content-box c-size-lg c-bg-img-center c-bg-parallax"
     style="background-image: {{ url_for('static', filename='assets/base/img/content/backgrounds/bg-100.jpg') }})">
    <div class="container">
        <div class="wow fadeIn">
            <form action="#" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  class="validate c-content-subscribe-form-4" target="_blank" novalidate>
                <input id="mce-EMAIL" type="email" name="EMAIL"
                       class="form-control input-lg c-content-subscribe-form-input email"
                       placeholder="Enter Email to Subscribe" required>
                <!-- Hidden MailChimp Element -->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                          name="b_d2e2cd5a03bb51e84c3313d79_9207486a10"
                                                                                          tabindex="-1" value=""></div>
                <span class="input-group-btn c-content-subscribe-form-btn">
					<button type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="btn c-btn"><img
                            src="{{ url_for('static', filename='assets/base/img/content/misc/subscribe-button2.png') }}"/></button>
				</span>
            </form>
        </div>
    </div>
</div><!-- END: CONTENT/MISC/SUBSCRIBE-FORM-4 -->

<!-- END: PAGE CONTENT -->


</div>
<!-- END: PAGE CONTAINER -->

{% endblock %}