{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->

<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!--
<div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-bg-img-center" style="background-image: url(../../assets/base/img/content/backgrounds/bg-52.jpg)">
		<div class="c-breadcrumbs-wrapper">
			<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">About Us</h3>
				<h4 class="c-font-white c-font-thin c-opacity-08">Page Sub Title Goes Here</h4>
			</div>
		</div>
		</div>
	</div>
	-->
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-sm c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                <p><br><br></p>
                <h3 class="c-center c-font-bold c-font-white"></h3>
                <p class="c-font-center"></p>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">

                </h3>
                <h4 class="">

                </h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="/search">Search</a></li>
                <li>/</li>
                <li class="c-state_active">Document</li>

            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <!-- BEGIN: CONTENT/MISC/SERVICES-6 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-services-6">
                <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                    <h3 class="c-center c-font-bold"></h3>
                    <p class="c-font-center"></p>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                </div>
            </div>


            <div class="jumbotron text-center">
                <h3>Predict how much your case is worth</h3>
            </div>
            <p>UpLaw's Litigation Price Predictor applies a linear regression machine learning algorithm to our custom
                data model to accurately predict how much litigation may be worth to each party.</p>

            <br><br>
            {% if pred: %}
            <strong>Your case will probably be valued at: ${{pred}}</strong>
            {% endif %}
            <br><br>
            <form action="/get-user-data" method="POST">
                <br><br>
                <label for="year_built">Year filed</label>
                <input type="number" name="year_built" id="year_built" value="2009">

                <br><br>

                <label for="stories">Number of Defendants</label>
                <input type="number" name="stories" id="stories" value="3">

                <br><br>

                <label for="num_bedrooms">Number of Plaintiffs</label>
                <input type="number" name="num_bedrooms" id="num_bedrooms" value="7">

                <br><br>

                <label for="full_bathrooms">Number of Lawyers</label>
                <input type="number" name="full_bathrooms" id="full_bathrooms" value="4">

                <br><br>

                <label for="half_bathrooms">Number of Jurors</label>
                <input type="number" name="half_bathrooms" id="half_bathrooms" value="4">

                <br><br>

                <label for="livable_sqft">Damages being Sought</label>
                <input type="number" name="livable_sqft" id="livable_sqft" value="10000">

                <br><br>

                <label for="total_sqft">Offer</label>
                <input type="number" name="total_sqft" id="total_sqft" value="11000">

                <br><br>

                <label for="garage_sqft">Counter-offer</label>
                <input type="number" name="garage_sqft" id="garage_sqft" value="1000">

                <br><br>

                <label for="carport_sqft">Days since case filed:</label>
                <input type="number" name="carport_sqft" id="carport_sqft" value="500">

                <br><br>

                <label for="has_fireplace">Federal</label>
                <input type="checkbox" name="has_fireplace" id="has_fireplace" checked>

                <br> <br>

                <label for="has_pool">State</label>
                <input type="checkbox" name="has_pool" id="has_pool" checked>

                <br> <br>

                <label for="has_central_heating">Jury Requested</label>
                <input type="checkbox" name="has_central_heating" id="has_central_heating" checked>

                <br> <br>

                <label for="has_central_cooling">No Jury Requested</label>
                <input type="checkbox" name="has_central_cooling" id="has_central_cooling" checked>
                <br> <br>

                <label for="garage_type">Practice Area</label>
                <select id="garage_type" name="garage_type">
                    <option value="attached" selected="selected">Patent</option>
                    <option value="detached">Copyright</option>
                    <option value="detached">Patent</option>
                    <option value="detached">Trademark</option>
                    <option value="none">none</option>
                </select>

                <br> <br>

                <label for="city">Court of Jurisdiction</label>
                <select id="city" name="city">
                    <option value="Amystad">SCOTUS</option>
                    <option value="Brownport">CA1</option>
                    <option value="Chadstad" selected="selected">CA2</option>
                    <option value="Clarkberg">CA3</option>
                    <option value="Coletown">CA4</option>
                    <option value="Davidfort">CA5</option>
                    <option value="Davidtown">CA6</option>
                </select>
                <input type="submit" value="Calculate Prediction">

            </form>

        </div>
    </div>
    {% endblock %}
