{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}UpLaw{% endblock %}

{% block app_content %}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">

    <!-- BEGIN: Spacer/Buffer for header/menu -->
    <div class="c-content-box c-size-sm" style="background-color: #3b3f62">
        <div class="container">

        </div>
    </div>
    <!-- END: Spacer/Buffer for header/menu -->

    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <!--
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{{product['title']}}</h3>

            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="/">Home</a></li>
                <li>/</li>
                <li class="c-state_active">{{product['title']}}</li>

            </ul>
        </div>
    </div>
    -->
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">


    </div>
    <!-- BEGIN: CONTENT/PRICING/PRICING-6 -->
    <div class="c-content-box c-size-md" style="background-color: #3b3f62">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content-title-1 c-title-pricing-1">
                        <h3 class="c-font-green">
                            <span class="c-font-thin c-font-white">{{product['title']}}<br></span>
                            <br>
                            {% if product['category'] %}
                            {{product['category'] |safe }}
                            {% endif %}


                        </h3>
                        <div class="c-row c-try">

                            <a class="btn btn-md c-btn-square c-btn-red c-btn-uppercase c-btn-bold"
                               href="consultation?slug={{product['slug']}}">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="c-content-pricing-1 c-opt-2">

                    <div class="col-md-3 c-sm-hidden">
                        <div class="c-content c-column-odd c-padding-adjustment">
                            <div class="c-row c-type c-font-20 c-align-left">Features</div>
                            <div class="c-row c-title c-font-17">Customized Legal Document</div>
                            <div class="c-row c-title c-font-17">Instructional Guide</div>

                            <div class="c-row c-title c-font-17">Delivery</div>
                            <div class="c-row c-title c-font-17">Library Subscription</div>
                            <div class="c-row c-title c-font-17">Lifetime Updates</div>
                            <div class="c-row c-title c-font-17">Email Support</div>
                            <div class="c-row c-title c-font-17">Satisfaction Guaranteed</div>
                            <div class="c-row c-empty">&nbsp;</div>
                            <div class="c-row c-empty">&nbsp;</div>
                        </div>
                    </div>
                    <!-- note: change back to col-md-3 col-sm-4 when adding 3 columns for product packaging-->
                    <!--<div class="col-md-3 col-sm-4">-->
                    <div class="col-md-6 col-sm-8">

                        <div class="c-content c-column-even c-padding-adjustment">
                            <div class="c-row c-type c-font-20">Basic</div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Customized Legal Document</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span
                                    class="c-sub-title">Instructional Guide</span>
                            </div>
                            <div class="c-row c-font-17">
                                3-5 days <span class="c-sub-title">Delivery</span>
                            </div>
                            <div class="c-row c-font-17">
                                3 months <span class="c-sub-title">Library Subscription</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Lifetime Updates</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Email Support</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span
                                    class="c-sub-title">Satisfaction Guaranteed</span>
                            </div>
                            <div class="c-row c-price">
                                <span class="c-dollar c-font-20">$</span> <span class="c-font-30 c-font-bold">{{product['price']}}</span>
                            </div>
                            <div class="c-row c-purchase">
                                <a class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold"
                                   href="consultation?slug={{product['slug']}}">Order</a>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-3 col-sm-4">
                        <div class="c-content c-column-odd c-padding-adjustment">
                            <div class="c-row c-type c-font-20">Pro</div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Customized Legal Document</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span
                                    class="c-sub-title">Instructional Guide</span>
                            </div>
                            <div class="c-row c-font-17">3-5 days <span class="c-sub-title">Delivery</span></div>
                            <div class="c-row c-font-17">
                                6 months <span class="c-sub-title">Library Subscription</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Lifetime Updates</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Email Support</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span
                                    class="c-sub-title">Satisfaction Guaranteed</span>
                            </div>
                            <div class="c-row c-price">
                                <span class="c-dollar c-font-20">$</span> <span class="c-font-30 c-font-bold">{{product['price']}}</span>
                            </div>
                            <div class="c-row c-purchase">
                                <a class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold"
                                   href="consultation?slug={{product['slug']}}">Order</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="c-content c-column-even">
                            <div class="c-row c-type c-font-20">Premium</div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Customized Legal Document</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span
                                    class="c-sub-title">Instructional Guide</span>
                            </div>
                            <div class="c-row c-font-17">3-5 days <span class="c-sub-title">Delivery</span></div>
                            <div class="c-row c-font-17">
                                12 months <span class="c-sub-title">Library Subscription</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Lifetime Updates</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Email Support</span>
                            </div>
                            <div class="c-row">
                                <i class="fa fa-check c-font-20"></i> <span
                                    class="c-sub-title">Satisfaction Guaranteed</span>
                            </div>
                            <div class="c-row c-price">
                                <span class="c-dollar c-font-20">$</span> <span class="c-font-30 c-font-bold">{{product['price']}}</span>
                            </div>
                            <div class="c-row c-purchase">

                                <a class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold"
                                   href="consultation?slug={{product['slug']}}">Order</a>
                            </div>
                        </div>
                    </div>
                    -->

                </div>
            </div>
            {% if product['category'] %} {{product['category'] |safe }}
            {% endif %}
            <br>
            {% if product['tags'] %}
            {{product['tags'] |safe }},
            {% endif %}<br>
            <p class="c-margin-t-20"><strong>Notice:</strong> UpLaw is not a law firm. UpLaw is a law
                library and automated legal services platform. All UpLaw products should be discussed
                with your personal attorney. </p>
        </div>
    </div><!-- END: CONTENT/PRICING/PRICING-6 -->

</div>
<!-- END: PAGE CONTAINER -->


{% endblock%}


