<!-- BEGIN: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->
<form class="c-shop-advanced-search-1" method="get" action="{{ url_for('main.search') }}">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" name="q" class="form-control c-square c-theme input-lg"
                           placeholder="Enter terms, phrases, names, titles, citations">
                </div>
                <!--
                <div class="col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <select class="form-control c-square c-theme input-lg">
                        <option value="1">All words, any order</option>
                        <option value="2">Any words, any order</option>
                        <option value="3">Exact words, exact order</option>
                        <option value="4">Exact words, any order</option>
                    </select>
                </div>
                -->
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">Exclude Words</label>
            <input type="text" class="form-control c-square c-theme input-lg" placeholder="Enter exclude words from search">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">Category</label>
            <select class="form-control c-square c-theme input-lg">
                <option value="0">All Categories</option>
                <option value="1">Art</option>
                <option value="2">Baby</option>
                <option value="3">Books</option>
                <option value="4">Business &amp; Industrial</option>
                <option value="5">Cameras &amp; Photo</option>
                <option value="6">Cell Phones &amp; Accessories</option>
                <option value="7">Clothing, Shoes &amp; Accessories</option>
                <option value="8">Coins &amp; Paper Money</option>
                <option value="9">Collectibles</option>
                <option value="10">Computers/Tablets &amp; Networking</option>
            </select>
        </div>
    </div>
    -->
    <div class="row c-margin-t-15">
        <div class="form-group col-md-12">
            <div class="c-checkbox c-toggle-hide" data-object-selector="c-advanced-search"
                 data-animation-speed="600">
                <input type="checkbox" id="checkbox-1" class="c-check"> <label for="checkbox-1">
                <span class="inc"></span> <span class="check"></span> <span class="box"></span> Advanced
                Search
            </label>
            </div>
            <!--<p class="help-block">See general <a href="#" class="c-theme-link c-font-bold">search tips</a>
                or <a href="#" class="c-theme-link c-font-bold">using advanced search options</a></p>-->
        </div>
    </div>
    <div class="row c-advanced-search">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="c-font-sbold c-font-uppercase c-font-20">Search including</h3>
                    <div class="c-checkbox">
                        <input type="checkbox" id="jurisdiction_all" name="jurisdiction_all"
                               class="c-check"> <label for="jurisdiction_all">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> All
                        Law
                    </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="jurisdiction_federal" name="jurisdiction_federal"
                               class="c-check"> <label for="jurisdiction_federal">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                        Federal Law
                    </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="jurisdiction_state" name="jurisdiction_state"
                               class="c-check"> <label for="jurisdiction_state">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                        State Law
                    </label>
                    </div>
                </div>
                <div class="col-xs-2">
                    <label for="date_min_low">Date Range...</label>
                    <input id="date_min_low" name="date_min_low" type="number" placeholder="1776"
                           class="form-control"/>
                    <label for="date_min_high">and</label>
                    <input id="date_min_high" name="date_min_high" type="number" placeholder="2019"
                           class="form-control"/>
                </div>
            </div>


            <!--
            <div class="col-md-6">
                <h3 class="c-font-sbold c-font-uppercase c-font-20">Shipping options</h3>
                <div class="c-checkbox">
                    <input type="checkbox" id="checkbox-2-1" class="c-check"> <label for="checkbox-2-1">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Flat rate
                    </label>
                </div>
                <div class="c-checkbox">
                    <input type="checkbox" id="checkbox-2-2" class="c-check"> <label for="checkbox-2-2">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Local delivery
                    </label>
                </div>
                <div class="c-checkbox">
                    <input type="checkbox" id="checkbox-2-3" class="c-check"> <label for="checkbox-2-3">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Local pickup
                    </label>
                </div>
            </div>
            -->

            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Document Type</label>
                    <select name="type" class="form-control c-square c-theme input-lg">
                        <option value="" selected="selected">All Documents</option>


                        <option value="act">Act (legislative)</option>
                        <option value="docket">Docket</option>
                        <option value="instructions">Jury Instructions</option>
                        <option value="opinion">Opinion (published)</option>
                        <option value="unpublished_opinion">Opinion (unpublished)</option>
                        <option value="regulation">Regulation</option>
                        <option value="rule">Rule</option>
                        <option value="statute">Statute</option>

                    </select>
                </div>
                <div class="col-md-6">
                    {% include 'search/states.html' %}
                </div>
                <div class="col-md-6">

                    <label class="control-label">Court</label>
                    <select class="form-control c-square c-theme" name="court">
                        {% if aggregations %}
                        <option value="">All Courts</option>

                        {% for i in range(aggregations['courts'] | length): %}
                <li>
                    <option value="{{aggregations['courts'][i]['key']}}">
                        {{ aggregations['courts'][i]['key']}} ({{ aggregations['courts'][i]['doc_count']}})
                    </option>
                    : <span class="pull-right"> </span></li>
                    {% endfor %}
                {% endif %}
                </select>


                </div>
            </div>
        </div>
    </div>
    <div class="form-group" role="group">
        <button type="submit" class="btn btn-lg c-btn-green c-btn-square c-btn-uppercase c-btn-bold"><i
                class="fa fa-search"></i>Search
        </button>
        <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Clear
        </button>
    </div>
</form><!-- END: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->
