
<!-- BEGIN: CONTENT/SHOPS/SHOP-2-8 -->
<h1>{{total}} {{ _('Search Results') }} for query: {{q}}</h1>
				<br>

    			{% for document in documents %}

    				{% include '_document.html' %}
<br>
    			{% endfor %}


<div class="c-margin-t-20"></div>
<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Previous results') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next results') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>