{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-sm c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                <p><br><br></p>
                <h3 class="c-center c-font-bold c-font-white"></h3>
                <p class="c-font-center"></p>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">
                    Search
                </h3>
                <h4 class="">

                </h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="/">Home</a></li>
                <li>/</li>
                <li class="/search">Search</li>

            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme ">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU-2 -->
            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">Navigation</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </div>

            <!-- BEGIN: CONTENT/SHOPS/SHOP-FILTER-SEARCH-1 -->
            <ul class="c-shop-filter-search-1 list-unstyled">
                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Type</label>
                    <select class="form-control c-square c-theme"
                            onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        {% if aggregations %}
                        <option value="#">All</option>

                        {% for i in range(aggregations['types'] | length): %}
                <li>
                    <option value="{{url_for('main.search',q=q,types_filter=aggregations['types'][i]['key'])}}">
                        {{ aggregations['types'][i]['key']|replace("_"," ")|title}} ({{ aggregations['types'][i]['doc_count']}})
                    </option>
                    : <span class="pull-right"> </span></li>
                {% endfor %}
                {% endif %}
                </select>

                </li>

                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Resource</label>
                    <select class="form-control c-square c-theme"
                            onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        {% if aggregations %}
                        <option value="#">All</option>

                        {% for i in range(aggregations['resource_types'] | length): %}
                <li>
                    <option value="{{url_for('main.search',q=q,resource_types_filter=aggregations['resource_types'][i]['key'])}}">
                        {{ aggregations['resource_types'][i]['key'] |replace("_"," ")|title}} ({{ aggregations['resource_types'][i]['doc_count']}})
                    </option>
                    : <span class="pull-right"> </span></li>
                {% endfor %}
                {% endif %}
                </select>

                </li>

                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Jurisdiction</label>
                    <select class="form-control c-square c-theme"
                            onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        {% if aggregations %}
                        <option value="#">All Jurisdictions</option>

                        {% for i in range(aggregations['jurisdictions'] | length): %}
                <li>
                    <option value="{{url_for('main.search',q=q,jurisdictions_filter=aggregations['jurisdictions'][i]['key'])}}">
                        {{ aggregations['jurisdictions'][i]['key']|replace("_"," ")|title}} ({{ aggregations['jurisdictions'][i]['doc_count']}})
                    </option>
                    : <span class="pull-right"> </span></li>
                {% endfor %}
                {% endif %}
                </select>

                </li>


                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Dates</label>
                    <select class="form-control c-square c-theme"
                            onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        {% if aggregations %}
                        <option value="#">All Dates</option>

                        {% for i in range(aggregations['dates'] | length): %}
                <li>
                    <option value="{{url_for('main.search',q=q,dates_filter=aggregations['dates'][i]['key'])}}">
                        {{ aggregations['dates'][i]['key_as_string'][0:10]}} ({{ aggregations['dates'][i]['doc_count']}})
                    </option>
                    : <span class="pull-right"> </span></li>
                {% endfor %}
                {% endif %}
                </select>

                </li>
                <!--
                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Jurisdiction</label>
                    <div class="input-group">
                        <div class="c-checkbox">
                            <input type="checkbox" id="checkbox-sidebar-1-1" class="c-check"> <label
                                for="checkbox-sidebar-1-1">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span> All
                        </label>
                        </div>
                        <div class="c-checkbox">
                            <input type="checkbox" id="checkbox-sidebar-1-2" class="c-check"> <label
                                for="checkbox-sidebar-1-2">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span> Global
                        </label>
                        </div>
                        <div class="c-checkbox">
                            <input type="checkbox" id="checkbox-sidebar-1-3" class="c-check"> <label
                                for="checkbox-sidebar-1-3">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span> Federal
                        </label>
                        </div>
                        <div class="c-checkbox c-checkbox-height">
                            <input type="checkbox" id="checkbox-sidebar-1-4" class="c-check"> <label
                                for="checkbox-sidebar-1-4">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span> States
                        </label>
                        </div>
                    </div>
                </li>
                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Date Range</label>
                    <div class="c-price-range-box input-group">
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme"></span>
                            <input type="text" class="form-control c-square c-theme" placeholder="1776">
                        </div>
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme"></span>
                            <input type="text" class="form-control c-square c-theme" placeholder="2019">
                        </div>
                    </div>
                </li>
                -->
                <!--
                <li class="c-margin-b-40">
                    <label class="control-label c-font-uppercase c-font-bold">Review Rating</label>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-sidebar-2-1" class="c-check"> <label for="checkbox-sidebar-2-1">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                            <p class="c-review-star">
                                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span>
                                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> (18)
                            </p>
                        </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-sidebar-2-2" class="c-check"> <label for="checkbox-sidebar-2-2">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                            <p class="c-review-star">
                                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span>
                                <span class="fa fa-star c-theme-font"></span> (20)
                            </p>
                        </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-sidebar-2-3" class="c-check"> <label for="checkbox-sidebar-2-3">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                            <p class="c-review-star">
                                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span>
                                <span class="fa fa-star c-theme-font"></span> (9)
                            </p>
                        </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-sidebar-2-4" class="c-check"> <label for="checkbox-sidebar-2-4">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                            <p class="c-review-star">
                                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> (4)
                            </p>
                        </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-sidebar-2-5" class="c-check"> <label for="checkbox-sidebar-2-5">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                            <p class="c-review-star">
                                <span class="fa fa-star c-theme-font"></span> (1)
                            </p>
                        </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-sidebar-2-6" class="c-check"> <label for="checkbox-sidebar-2-6">
                            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                            <p class="c-review-star">No yet rated (10)</p>
                        </label>
                    </div>
                </li>
                -->
            </ul>

            <!-- END: CONTENT/SHOPS/SHOP-FILTER-SEARCH-1 -->

            <ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
                <!--
                <li class="c-dropdown c-active c-open">
                    <a href="javascript:;" class="c-toggler">Bankruptcy<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li class="c-active">
                            <a href="#">Active Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                    </ul>
                </li>
                -->

                <li class="c-dropdown">
                    <a href="javascript:;" class="c-toggler">Categories<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li>
                            <a href="#">Bankruptcy</a>
                        </li>
                        <li class="c-dropdown">
                            <a href="javascript:;" class="c-toggler">Commercial
                                <span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Advertising and Marketing</a>
                                </li>
                                <li>
                                    <a href="#">Contracts</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Anti-trust</a>
                        </li>
                        <li class="c-dropdown">
                            <a href="javascript:;" class="c-toggler">IP and Technology<span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Copyright</a>
                                </li>
                                <li>
                                    <a href="#">Patent</a>
                                </li>
                                <li class="c-dropdown">
                                    <a href="javascript:;" class="c-toggler">Trademark<span class="c-arrow"></span></a>
                                    <ul class="c-dropdown-menu">
                                        <li>
                                            <a href="#">Infringement</a>
                                        </li>
                                        <li>
                                            <a href="#">Registration</a>
                                        </li>
                                        <li>
                                            <a href="#">Trademark Search</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Trade Secret</a>
                                </li>
                                <li>
                                    <a href="#">Information Technology</a>
                                </li>
                                <li>
                                    <a href="#">Privacy and Data Protection</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Real Estate</a>
                        </li>
                    </ul>
                </li>

                <li class="c-dropdown">
                    <a href="javascript:;" class="c-toggler">Practice Areas<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li>
                            <a href="#">Admirality and Maritime</a>
                        </li>
                        <li>
                            <a href="#">Anti-trust</a>
                        </li>
                        <li>
                            <a href="#">Bankruptcy</a>
                        </li>
                        <li>
                            <a href="#">Commercial</a>
                        </li>
                    </ul>
                </li>
                <!--END: PRACTICE AREAS -->
                <!--BEGIN: LIBRARY -->
                <li class="c-dropdown">
                    <a href="javascript:;" class="c-toggler">Federal Materials<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li class="c-dropdown">
                            <a href="javascript:;" class="c-toggler">Federal Cases<span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Treaties</a>
                                </li>
                            </ul>
                        </li>
                        <li class="c-dropdown">
                            <a href="javascript:;" class="c-toggler">United States Code Annotated (USCA)<span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Opinions</a>
                                </li>
                                <li>
                                    <a href="#">Statutes</a>
                                </li>
                                <li>
                                    <a href="#">Rules & Regulations</a>
                                </li>
                                <li>
                                    <a href="#">Legislation</a>
                                </li>
                                <li>
                                    <a href="#">Secondary Sources</a>
                                </li>
                                <li>
                                    <a href="#">Practical</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">State Law</a>
                        </li>
                    </ul>
                </li>
                <!--END: LIBRARY -->
                <!--BEGIN: SERVICES -->
                <li class="c-dropdown">
                    <a href="javascript:;" class="c-toggler">State Materials<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li class="c-dropdown">
                            <a href="javascript:;" class="c-toggler">Commercial<span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Advertising & Marketing</a>
                                </li>
                            </ul>
                        </li>
                        <li class="c-dropdown">
                            <a href="javascript:;" class="c-toggler">IP & Technology<span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Copyright</a>
                                </li>
                                <li>
                                    <a href="#">Patent</a>
                                </li>
                                <li>
                                    <a href="#">Trademark</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                <!--END: SERVICES -->
            </ul>
            <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU-2 -->
        </div>
        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            {% include 'search_bar.html' %}
            <div class="c-margin-t-30"></div>

            <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-shop-result-filter-1 clearfix form-inline">
                <!--
                <div class="c-filter">
                    <label class="control-label c-font-16">Show:</label>
                    <select class="form-control c-square c-theme c-input">
                        <option value="#?limit=24" selected="selected">24</option>
                        <option value="#?limit=25">25</option>
                        <option value="#?limit=50">50</option>
                        <option value="#?limit=75">75</option>
                        <option value="#?limit=100" selected>100</option>
                    </select>
                </div>
                -->
                <div class="c-filter">
                    <label class="control-label c-font-16">Sort:</label>
                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
                            class="form-control c-square c-theme c-input">
                        <option value="#" selected="selected">Default</option>
                        <option value="{{url_for('main.search',q=q,sort_filter='desc')}}">Date (Descending)</option>
                        <option value="{{url_for('main.search',q=q,sort_filter='asc')}}">Date (Ascending)</option>
                    </select>

                </div>
            </div><!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->

            <!-- BEGIN: SEARCH_RESULTS -->
            {% include 'search_results.html' %}
            <!-- END: SEARCH_RESULTS -->

            <div class="c-margin-t-20"></div>

            <!-- END: PAGE CONTENT -->
        </div>
    </div>
</div>
<!-- END: PAGE CONTAINER -->
{% endblock %}