{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-theme-bg"
         style="background-image: url(../../assets/base/img/content/backgrounds/bg-18.jpg)">
        <div class="c-breadcrumbs-wrapper">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">Virtual
                        Legal Services</h3>
                    <h4 class="c-font-white c-font-thin c-opacity-08">Represent Your Legal Rights!</h4>
                </div>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->

    {% include 'services/_featured.html' %}

    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-lg c-theme-bg">
        <div class="container">
            <div class="c-content-bar-7">
                <p class="c-content-bar-desc c-font-white">
                    Search over 10 million legal documents from 180+ countries across the globe.
                </p>
                <a href="search/" class="c-content-bar-btn c-btn-white btn c-btn c-btn-circle c-btn-border-1x">Search
                    Now!</a>
            </div>
        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->
    {% include 'services/_commercial.html' %}


    <!-- BEGIN: CONTENT/MISC/QUOTE-1 -->
    <div class="c-content-box c-size-lg c-bg-white">
        <div class="container">
            <div class="c-content-quote-1">
                <h3 class="c-quote-title">Live Support</h3>
                <div class="c-quote-desc-container">
                    <a href="contact/" class="c-quote-btn btn c-btn c-btn-circle c-theme-btn">Contact Us</a>
                    <p class="c-quote-desc">Contact us for custom solutions or any other inquiries.</p>
                </div>
            </div>
        </div>
    </div><!-- END: CONTENT/MISC/QUOTE-1 -->
    {% include 'services/_intellectual-property-and-technology.html' %}


    <!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-4 -->
    <!-- Begin JANGO MailChimp Signup Form -->
    <div class="c-content-box c-size-lg c-bg-img-center c-bg-parallax"
         style="background-image: url(../../assets/base/img/content/backgrounds/bg-100.jpg)">
        <div class="container">
            <div class="wow fadeIn">
                <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="validate c-content-subscribe-form-4" target="_blank" novalidate>
                    <input id="mce-EMAIL" type="email" name="EMAIL"
                           class="form-control input-lg c-content-subscribe-form-input email"
                           placeholder="Enter Email to Subscribe" required>
                    <!-- Hidden MailChimp Element -->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                              name="b_d2e2cd5a03bb51e84c3313d79_9207486a10"
                                                                                              tabindex="-1" value="">
                    </div>
                    <span class="input-group-btn c-content-subscribe-form-btn">
					<button type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="btn c-btn"><img
                            src="../../assets/base/img/content/misc/subscribe-button2.png"/></button>
				</span>
                </form>
            </div>
        </div>
    </div><!-- END: CONTENT/MISC/SUBSCRIBE-FORM-4 -->

    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->


{% endblock%}