{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->

<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!--
<div class="c-layout-breadcrumbs-1 c-bgimage-full  c-centered  c-fonts-uppercase c-fonts-bold   c-bg-img-center" style="background-image: url(../../assets/base/img/content/backgrounds/bg-52.jpg)">
		<div class="c-breadcrumbs-wrapper">
			<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">About Us</h3>
				<h4 class="c-font-white c-font-thin c-opacity-08">Page Sub Title Goes Here</h4>
			</div>
		</div>
		</div>
	</div>
	-->
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/BARS/BAR-7 -->
    <div class="c-content-box c-size-sm c-theme-bg">
        <div class="container">
            <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                <p><br><br></p>
                <h3 class="c-center c-font-bold c-font-white"></h3>
                <p class="c-font-center"></p>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </div><!-- END: CONTENT/BARS/BAR-7 -->
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">

                </h3>
                <h4 class="">

                </h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="/search">Search</a></li>
                <li>/</li>
                <li class="c-state_active">Document</li>

            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <!-- BEGIN: CONTENT/MISC/SERVICES-6 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">

            <section class="input container" id="input">
                <div class="intro jumbotron">
                    <h2>Summarize Content</h2>
                </div>
                <div class="form-container jumbotron" id="sum-section">
                    <form action="/summarize" id="sumform" method="POST">
                        <p>Enter the text you wish to summarize:</p>
                        <textarea maxlength="50000" name="input_text" id="input_text" style="width:600px;
				height:250px" value="{{request.args.get('input_text')|safe}}"></textarea>
                        <p>Enter the summarized number of sentences you like to be outputted: </p>
                        <p>
                            <input type="number" name="num_sentences" pattern=
                                    "[0-9]+" min="1" max="100" required>
                        </p>
                        <p>
                            <input type="submit" class="btn btn-success btn-md" value="Submit">
                        </p>
                        <h4>Summazrized Text: </h4>
                        <textbox name="output_text" id="output_text" maxlength="50000" style="width:600px;
				height:250px">
                            {% for sentence in output_summary %}
                            <p>{{ sentence }} </p>
                            {% endfor %}
                        </textbox>
                        <br>
                        <h4>Original Text:</h4>
                        <p>{{ original_text }}</p>
                    </form>
                </div>


            </section>
        </div>
    </div>
</div>
{% endblock %}