{% extends "theme_layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}UpLaw{% endblock %}

{% block app_content %}
<!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
        <!-- BEGIN: Spacer/Buffer for header/menu -->
    <div class="c-content-box c-size-md c-theme-bg">
        <div class="container">

        </div>
    </div>
    <!-- END: Spacer/Buffer for header/menu -->
		<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->

<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase c-font-sbold">Team</h3>
		</div>
		<ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
															<li><a href="/">Home</a></li>
			<li>/</li>
															<li class="c-state_active">Team</li>

		</ul>
	</div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
		<!-- BEGIN: PAGE CONTENT -->
		<!-- BEGIN: CONTENT/SLIDERS/TEAM-1 -->
<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-person-1-slider" data-slider="owl">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Meet UpLaw</h3>
				<div class="c-line-center c-theme-bg"></div>
			</div>
			<!-- End-->

			<!-- Begin: Owlcarousel -->
			<div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-rtl="false" data-items="3" data-slide-speed="8000">

			  	<div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="#"><i class="icon-link"></i></a>
					  				<a href="../../assets/base/img/content/team/person6.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
					  					<i class="icon-magnifier"></i>
					  				</a>
					  			</div>
			  				</div>
			  				<img src="/home/casey/uplaw/app/static/assets/images/csmckay_profile_picture.jpg" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<div class="c-head">
				  				<div class="c-name c-font-uppercase c-font-bold">Casey Scott McKay</div>
				  				<ul class="c-socials c-theme-ul">
									<li><a href="#"><i class="icon-social-twitter"></i></a></li>
									<li><a href="#"><i class="icon-social-facebook"></i></a></li>
									<li><a href="#"><i class="icon-social-dribbble"></i></a></li>
								</ul>
				  			</div>
				  			<div class="c-position">
				  				CEO
				  			</div>
					  		<p>
					  			Lawyer | Software Engineer | Antrhopologist
			                </p>
		                </div>
	                </div>
			  	</div>
			</div>
	        <!-- End-->
	    </div>
	    <!-- End-->
	</div>
</div><!-- END: CONTENT/SLIDERS/TEAM-1 -->
        <!-- END: PAGE CONTENT -->
    </div>
	<!-- END: PAGE CONTAINER -->



{% endblock%}


