{% include 'include/head-1.html' %}
{% include 'include/header-1.html' %}
{% include 'include/sidebar-1.html' %}


<div class="c-layout-page">

    {% block app_content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endblock %}
</div>

{% include 'include/footer-1.html' %}
{% include 'include/foot-1.html' %}